<!doctype html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block head %}{% endblock %}
    <title id="title">{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}
    <div>
        <header id="header">
            {% include 'Projects/templates/nav.html' %}
            {% block header %}
            {% endblock %}
        </header>
        <main id="content-main" role="main">
            {% block content %}
            {% endblock %}
        </main>
        <footer id="footer">
            {% block footer %}
            {% endblock %}
        </footer>
    </div>
{% endblock %}
{% block others %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>