{% extends 'Projects/templates/basic.html' %}

{% load crispy_forms_tags %}
{% load  static %}
{% block header %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading font-weight-bold">{{ project.name }} Details</h1>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="container col-3">
                <div class="align-content-center">
                    <img class="card-img-top"
                            {% if object.image.url != "" %}
                         data-src="{{ project.image.url }}"
                         src="{{ project.image.url }}"
                            {% else %}
                         data-src="holder.js/300px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                         src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16f4ba4f40b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16f4ba4f40b%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2265.5%22%20y%3D%22117.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                            {% endif %}
                         alt="Thumbnail [100%x225]"
                         style="height: 200px; width: 100%; display: block;"

                         data-holder-rendered="true">
                </div>
            </div>
            <div class="container col-9">
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text font-weight-bold" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" class="form-control" placeholder="{{ project.name }}"
                               aria-label="{{ project.name }}"
                               aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="{{ project.inline_developers }}"
                               aria-label="{{ project.inline_developers }}"
                               aria-describedby="developers" disabled>
                        <div class="input-group-prepend ">
                            <span class="input-group-text font-weight-bold" id="developers">Developers</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend ">
                            <span class="input-group-text font-weight-bold" id="customer">Customer</span>
                        </div>
                        <input type="text" class="form-control" placeholder="{{ project.customer.user.username }}"
                               aria-label="{{ project.customer.user.username }}"
                               aria-describedby="customer" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text font-weight-bold" id="githubLink">Link</span>
                        </div>
                        <input type="text" class="form-control" placeholder="{{ project.url }}"
                               aria-label="{{ project.url }}"
                               aria-describedby="githubLink" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text font-weight-bold" id="created">Created at</span>
                        </div>
                        <input type="text" class="form-control" placeholder="{{ project.date }}"
                               aria-label="{{ project.date }}"
                               aria-describedby="created" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text font-weight-bold" id="description">Description</span>
                        </div>
                        <textarea class="form-control" aria-label="description"
                                  disabled>{{ project.description }}</textarea>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <a href="#" class="btn btn-primary  btn-lg active float-right"
                       role="button" aria-pressed="true">Download</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}